<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Perseus Authentification Service</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="stylesheet" href="/assets/css/bootswatch.css">
	</head>
	<body>
        <div class="container" style="margin-top:40px">
        	{% if app.session.flashbag.has('alert') %}
        		{% for flashMessage in app.session.flashbag.get('alert') %}
        			<div class="alert alert-info">{{ flashMessage }}</div>
        		{% endfor %}
        	{% endif %}
        	<div class="row">
        		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        			<div class="panel panel-default">
        				<div class="panel-heading">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="site-logo media-object " src="/assets/img/perseids.png" alt="Perseids" />
                                </a>
                                <div class="media-body">
                                    <h1 class="media-heading">Perseus</h1>
                                </div>
                            </div>
        				</div>
        				<div class="panel-body">
        					{% block content %}{% endblock %}
        				</div>
        				<div class="panel-footer ">
                            <ul class="nav nav-pills">
                                <li><a href="/">Home</a></li>
                                {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('user.list') }}">List users</a></li>
                                        <li><a href="{{ path('clients.list') }}">Clients</a></li>
                                    {% endif %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Hello, {{ app.user.displayName }}!
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('user.view', {'id': app.user.id}) }}"><span class="glyphicon glyphicon-user"></span> View your profile</a></li>
                                            <li><a href="{{ path('user.edit', { id: app.user.id }) }}"><span class="glyphicon glyphicon-edit"></span> Edit your profile</a></li>
                                            <li><a href="{{ path('user.logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{{ path('user.login') }}">Sign in</a></li>
                                    <li><a href="{{ path('user.register') }}">Create account</a></li>
                                {% endif %}
                            </ul>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
			

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>
